@use "sass:color";
@use '@/hooks/Mapper/components/map/styles/eve-common-variables';
@use '@/hooks/Mapper/components/map/styles/solar-system-node' as v;

.GroupNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  width: 150px;
  height: 48px;
  padding: 4px 8px;

  font-family: inherit;
  font-size: 10px;

  background-color: #202020;
  color: #ffffff;

  box-shadow: 0 0 5px rgba(v.$dark-bg, 0.5);
  border: 1px solid color.adjust(v.$pastel-blue, $lightness: 5%);
  border-radius: 8px;
  position: relative;
  z-index: 3;
  cursor: pointer;

  &.chain {
    border-style: dashed;
  }

  &.selected {
    border-color: v.$pastel-pink;
    box-shadow: 0 0 10px #9a1af1c2;
  }

  &.rally {
    border-color: v.$neon-color-1;
    box-shadow: 0 0 10px v.$neon-color-3;
  }
}

.HeadRow {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  overflow: hidden;
}

.displayName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.BottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  font-size: 9px;
  opacity: 0.85;
}

.memberCount {
  white-space: nowrap;
}

.onlineCount {
  display: flex;
  align-items: center;
  gap: 2px;
}

.locationMarker {
  color: v.$pastel-pink;
}

.icon {
  width: 9px;
  height: 9px;
  font-size: 9px;
}

.Handle {
  width: 6px;
  height: 6px;
  background: v.$pastel-blue;
  border: none;
  opacity: 0.6;
}

.HandleTop {
  top: -3px;
}

.HandleRight {
  right: -3px;
}

.HandleBottom {
  bottom: -3px;
}

.HandleLeft {
  left: -3px;
}
